[Desktop Entry]
Name=Eta

X-KDE-PluginInfo-Author=Yunusemre Senturk
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Eta
X-KDE-PluginInfo-Version=1.1
